#meta
  position: absolute
  bottom: 0; left: 0
  font-size: 11
  color: #888
  padding: 1% 2%

  a:hover { color: $heliomColor }

// Labs ----------------------------------------------------------------------
@import "ios_folders"
