@import "nib"
@import "utils/reset"
@import "utils/functions"
@import "utils/mixins"

// Variables -----------------------------------------------------------------
$bgColor = #30333a
$heliomColor = #5d53fc

$transitionDuration = .4s
$transitionTimingFunction = ease-in-out

// Base ----------------------------------------------------------------------
* { box-sizing: border-box }

html
  font-size: 62.5%
  height: 100%

  &.velcro-loading *
    cursor: wait

body
  position: relative
  height: 100%
  font-size: 22
  background-color: $bgColor
  background-image: linear-gradient(top, lighten($bgColor, 12%) 0em, $bgColor 10em)
  background-attachment: fixed
  transition: padding $transitionDuration $transitionTimingFunction

body, legend, input, textarea, button
  font-family: 'proxima-nova-condensed', Helvetica, Arial, sans-serif
  line-height: 1.4
  color: #fff

a { color: #fff }
a:focus, a:hover { color: #fff }

h1 { margin: 0 }

// Header --------------------------------------------------------------------
header
  position: relative
  width: 92%
  min-width: 160px
  height: 105px
  margin: 0 auto 2%
  transition-property: width, height
  transition-duration: $transitionDuration
  transition-timing-function: $transitionTimingFunction

  h1
    position: absolute
    bottom: 0; left: 0
    margin: 0
    font-size: 36

    a
      display: block
      white-space: nowrap

    i
      font-weight: 300
      font-style: normal

  #logo
    position: absolute
    bottom: 13px; right: 0
    display: block
    width: 80px
    transition-property: width, bottom
    transition-duration: $transitionDuration
    transition-timing-function: $transitionTimingFunction

    img
      display: block
      width: 100%

// Layout --------------------------------------------------------------------
#content
  margin: 0 auto

// Index ---------------------------------------------------------------------
.index
  padding: 3% 0 0

  header
    height: 185px
    width: 11%

    #logo
      width: 160px
      bottom: 60px

  #content
    width: 100%
    max-width: 480px
    padding-bottom: 3%

// Nav -----------------------------------------------------------------------
nav
  box-shadow: 0px 0 5px 2px rgba(#000, .05)

  ul
    margin: 0
    list-style-type: none

  li
    display: block
    background-color: lighten($bgColor, 3%)
    border-bottom: 1px solid rgba(#000, .2)

    &:first-child { border-radius: 9px 9px 0 0 }
    &:first-child a { border-radius: 8px 8px 0 0 }
    &:last-child { border-radius: 0  0 9px 9px }
    &:last-child a { border-radius: 0 0 8px 8px }

  a
    display: block
    padding: .75em 3.8%
    border-top: 1px solid rgba(#fff, .03)
    border-left: 3px solid transparent
    background-color: rgba(#fff, .02)
    transition-property: background-color, border
    transition-duration: .15s
    transition-timing-function: ease-out

    &:hover
      border-left-color: $heliomColor !important
      background-color: rgba(#fff, .05)

  li:nth-child(1n) a { border-left-color: lighten($bgColor, 10%) }
  li:nth-child(2n) a { border-left-color: lighten($bgColor, 20%) }

  span
    display: inline-block
    vertical-align: middle

  span.label
    margin: 0 .1em 0 0
    &:after { content: ' —'; color: darken(#fff, 70%) }

  span.tags
    position: relative
    top: 1px
    font-size: 18
    color: #66696c
    font-weight: 300

// Labs ----------------------------------------------------------------------
#meta
  position: absolute
  bottom: 0; left: 0
  font-size: 14
  color: #888
  padding: 3% 4%

  a:hover { color: $heliomColor }

.content-box
  border-radius: 9px
  box-shadow: 0 0 5px rgba(#000, .5)

@import "labs/ios_folders"
@import "labs/skeleton"
