<% time = Time.new %>

<div id="iphone" class="content-box">
  <div class="status"><%= "#{time.hour}:#{'0' if time.min < 10}#{time.min}" %></div>
  <a id="row1-1" href="#row1-1" class="first open">
    <span class="label">Utilities</span>
    <span class="app first"><img src="/images/labs/ios_folders/icons/stocks.png"></span>
    <span class="app"><img src="/images/labs/ios_folders/icons/notes.png"></span>
    <span class="app"><img src="/images/labs/ios_folders/icons/clock.png"></span>
    <span class="app first"><img src="/images/labs/ios_folders/icons/maps.png"></span>
    <span class="app"><img src="/images/labs/ios_folders/icons/camera.png"></span>
  </a>
  <a href="#" class="first close">
    <span class="arrow"><span></span></span>
    <span class="app first"><img src="/images/labs/ios_folders/icons/stocks.png"></span>
    <span class="app"><img src="/images/labs/ios_folders/icons/notes.png"></span>
    <span class="app"><img src="/images/labs/ios_folders/icons/clock.png"></span>
    <span class="app first"><img src="/images/labs/ios_folders/icons/maps.png"></span>
    <span class="app"><img src="/images/labs/ios_folders/icons/camera.png"></span>
  </a>
  <a id="row1-2" href="#row1-2" class="open">
    <span class="label">Stores</span>
    <span class="app first"><img src="/images/labs/ios_folders/icons/itunes.png"></span>
  </a>
  <a href="#" class="close">
    <span class="arrow"><span></span></span>
    <span class="app first"><img src="/images/labs/ios_folders/icons/itunes.png"></span>
  </a>
  <a><img src="/images/labs/ios_folders/icons/calendar.png"><span class="label">Calendar</span></a>
  <a><img src="/images/labs/ios_folders/icons/calculator.png"><span class="label">Calculator</span></a>
  <div class="folders">
    <div class="folder folder1-1">
      <span class="label">Utilities</span>
      <a class="first"><img src="/images/labs/ios_folders/icons/stocks.png"><span class="label">Stocks</span></a>
      <a><img src="/images/labs/ios_folders/icons/notes.png"><span class="label">Notes</span></a>
      <a><img src="/images/labs/ios_folders/icons/clock.png"><span class="label">Clock</span></a>
      <a><img src="/images/labs/ios_folders/icons/maps.png"><span class="label">Maps</span></a>
      <a class="first"><img src="/images/labs/ios_folders/icons/camera.png"><span class="label">Camera</span></a>
    </div>
    <div class="folder folder1-2">
      <span class="label">Stores</span>
      <a class="first"><img src="/images/labs/ios_folders/icons/itunes.png"><span class="label">iTunes</span></a>
    </div>
  </div>

  <a id="row2-1" href="#row2-1" class="open first">
    <span class="label">Photos</span>
    <span class="app first"><img src="/images/labs/ios_folders/icons/photos.png"></span>
    <span class="app"><img src="/images/labs/ios_folders/icons/videos.png"></span>
    <span class="app"><img src="/images/labs/ios_folders/icons/youtube.png"></span>
  </a>
  <a href="#" class="close first">
    <span class="arrow"><span></span></span>
    <span class="app first"><img src="/images/labs/ios_folders/icons/photos.png"></span>
    <span class="app"><img src="/images/labs/ios_folders/icons/videos.png"></span>
    <span class="app"><img src="/images/labs/ios_folders/icons/youtube.png"></span>
  </a>
  <a><img src="/images/labs/ios_folders/icons/weather.png"><span class="label">Weather</span></a>
  <a><img src="/images/labs/ios_folders/icons/contacts.png"><span class="label">Contacts</span></a>
  <div class="folders">
    <div class="folder folder2-1">
      <span class="label">Photos</span>
      <a class="first"><img src="/images/labs/ios_folders/icons/photos.png"><span class="label">Photos</span></a>
      <a><img src="/images/labs/ios_folders/icons/videos.png"><span class="label">Videos</span></a>
      <a><img src="/images/labs/ios_folders/icons/youtube.png"><span class="label">YouTube</span></a>
    </div>
  </div>

  <a id="row3-1" href="#row3-1" class="open first">
    <span class="label">Music</span>
    <span class="app first"><img src="/images/labs/ios_folders/icons/music.png"></span>
    <span class="app"><img src="/images/labs/ios_folders/icons/ipod.png"></span>
  </a>
  <a href="#" class="close first">
    <span class="arrow"><span></span></span>
    <span class="app first"><img src="/images/labs/ios_folders/icons/music.png"></span>
    <span class="app"><img src="/images/labs/ios_folders/icons/ipod.png"></span>
  </a>
  <a><img src="/images/labs/ios_folders/icons/settings.png"><span class="label">Settings</span></a>
  <div class="folders">
    <div class="folder folder3-1">
      <span class="label">Music</span>
      <a class="first"><img src="/images/labs/ios_folders/icons/music.png"><span class="label">Music</span></a>
      <a><img src="/images/labs/ios_folders/icons/ipod.png"><span class="label">iPod</span></a>
    </div>
  </div>

  <div class="dock">
    <a><img src="/images/labs/ios_folders/icons/phone.png"><span class="label">Phone</span></a>
    <a><img src="/images/labs/ios_folders/icons/text.png"><span class="label">Messages</span></a>
    <a><img src="/images/labs/ios_folders/icons/safari.png"><span class="label">Safari</span></a>
    <a><img src="/images/labs/ios_folders/icons/mail.png"><span class="label">Mail</span></a>
  </div>

  <div class="background part1"></div>
  <div class="background part2"></div>
  <div class="background part3"></div>
  <div class="background part4"></div>
</div>

<div id="meta">
  By: <a href="https://twitter.com/EtienneLem">@EtienneLem</a><br>
  Icons: <a href="https://twitter.com/mantia">@mantia</a> (<a href="http://mantia.me/icons/iphone-icon-archive">src</a>)<br>
  <%= asset_links('ios_folders') %>
</div>
