<div id="skeleton-container" class="content-box">
  <div id="skeleton">
    <div class="head">
      <span class="eye left"></span>
      <span class="eye right"></span>
      <span class="nose">
        <span class="nostril left"></span>
        <span class="nostril right"></span>
      </span>
    </div>
    <span class="mouth">
      <span class="teeth"></span>
    </span>
  </div>
</div>

<p class="note">Go ahead and inspect this fella.</p>

<div id="meta">
  <h2>Skeleton</h2>
  by <a href="https://twitter.com/EtienneLem">@EtienneLem</a><br>
  <%= asset_links('skeleton') %>
</div>
